html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
input,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    font-style: normal;
}

body {
    background: #eee;
    overflow-x: hidden;
}

$bgColorWhite:#fff;
$bgColorBlack:#000;
$BaseFontSize:75;

/*-----------------Base Function-------------------*/

@function computeSize($size) {
    @return $size / $BaseFontSize+rem;
}

#app {
    overflow-y: scroll;
}

@font-face {
    font-family: 'icon_RB';
    /* project id 295136 */
    src: url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.eot');
    src: url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.woff') format('woff'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.ttf') format('truetype'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.svg#icon_RB') format('svg');
}

.iconfont {
    font-family: 'icon_RB' !important;
    font-size: computeSize(48);
    color: #000;
}

.flex-left,
.flex-right,
.flex-center,
.flex-arround,
.flex-between {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-arround {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.clearfix {
    display: block;
    overflow: hidden;
    clear: both;
}

.noScrollScreen {
    overflow: hidden;
    height: 100% !important;
}


/*--------------------------------Swiper------------------------*/

.swiper {
    position: relative;
    height: computeSize(300);
    .swiper_img {
        position: absolute;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}


/*-----------------------------Loading---------------------------*/

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $bgColorWhite;
    padding-top: 50%;
    opacity: 0.5;
    z-index: 999;
    left: 0;
    top: 0;
    text-align: center;
    div {
        font-size: computeSize(180);
        background: none;
        animation: circle 1s linear infinite forwards;
    }
    @keyframes circle {
        from {
            transform: rotate(0)
        }
        to {
            transform: rotate(180deg)
        }
    }
    @-webkit-keyframes circle {
        from {
            transform: rotate(0)
        }
        to {
            transform: rotate(180deg)
        }
    }
}


/*---------------------------Toast Style------------------------*/

.toast_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('http://gtms01.alicdn.com/tps/i1/TB1xvbwHpXXXXcEXVXX1DxgFpXX-20-20.png');
    background-repeat: repeat;
    top: 0;
    left: 0;
    z-index: 99;
    transform: scale(1, 1, 1);
    .toast_main {
        width: computeSize(600);
        background: #fff;
        opacity: 1;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        border-radius: 20px;
        .title {
            line-height: computeSize(60);
            font-size: computeSize(40);
            text-align: center;
            padding: computeSize(20);
        }
        .line {
            height: 1px;
            background: #eee;
        }
        .content {
            padding: computeSize(40) computeSize(20);
            font-size: computeSize(28);
            line-height: computeSize(40);
            text-align: center;
        }
        .btnWrap {
            font-size: computeSize(32);
            span {
                display: block;
                width: 50%;
                text-align: center;
                line-height: computeSize(80);
            }
            span:first-child::after {
                content: "";
                width: 1px;
                height: computeSize(80);
                background: #eee;
                float: right;
            }
            span:first-child {
                border-bottom-left-radius: 20px;
            }
            span:last-child {
                border-bottom-right-radius: 20px;
            }
            span.ontap {
                background: #eee;
            }
        }
    }
}


/*---------------------------Common Style------------------------*/

.main_content_wrap.isPlay {
    margin-bottom: computeSize(170);
}

.home_item_group {
    position: relative;
}

.panel {
    margin: computeSize(10);
    background: $bgColorWhite;
    border-radius: computeSize(10);
    .panel_title {
        padding: computeSize(20) computeSize(30);
        line-height: computeSize(36);
        border-top-left-radius: computeSize(10);
        border-top-right-radius: computeSize(10);
        span {
            display: inline-block;
            font-size: computeSize(36);
        }
        span:last-child {
            float: right;
        }
    }
    .panel_line {
        height: 1px;
        background: #eee;
    }
    .panel_content {
        padding: computeSize(10);
        position: relative;
        .panel_content_item {
            display: inline-block;
            width: 31%;
            margin: 1%;
            img {
                width: 100%;
                height: 100%;
            }
            span {
                height: computeSize(56);
                line-height: computeSize(56);
                -webkit-line-break: strict;
                width: 100%;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: computeSize(24);
                text-align: center;
            }
        }
    }
}

.tabSelect {
    position: relative;
    background: $bgColorWhite;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    a {
        width: 25%;
        padding: computeSize(20) 0;
        text-align: center;
        border-left: 1px solid #eee;
        font-size: computeSize(28);
        text-decoration: none;
        color: #000;
    }
    a:first-child {
        border-left: none;
    }
}


/*--------------------Play Area------------------*/

.play_panel {
    width: 100%;
    position: fixed;
    height: computeSize(160);
    background: #e1e;
    left: 0;
    bottom: 0;
    transform: translate3d(0, computeSize(160), 0);
    transition: transform 0.5s ease-out;
    -webkit-transform: translate3d(0, 80pcomputeSize(160), 0);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    audio {
        display: none;
    }
    .play_mid_panel {
        padding: computeSize(20);
        overflow: hidden;
        .panel_left {
            width: 65%;
            .play_urlImg {
                width: computeSize(120);
                height: computeSize(120);
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .play_mid_title {
                overflow: hidden;
                text-align: center;
                padding: 0 computeSize(40);
                color: #fff;
                width: 50%;
                span {
                    font-size: computeSize(28);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                span:first-child {
                    line-height: computeSize(70);
                    font-size: computeSize(32);
                }
            }
        }
        .play_mid_control {
            width: 35%;
            span {
                display: inline-block;
                width: 33.33%;
                line-height: computeSize(120);
                text-align: center;
                font-size: computeSize(48);
                color: #fff;
            }
            span:first-child,
            span:last-child {
                font-size: computeSize(36);
            }
        }
    }
}

.play_panel.isPlay {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s ease-out;
}


/*--------------------Item Detail------------------*/

.item_detail_wrap,
.main_content_wrap {
    position: relative;
    .info_wrap {
        height: computeSize(500);
        background: #4D5D8C;
        .leftImgOfProgram {
            width: 50%;
            height: 100%;
            img {
                width: computeSize(300);
                height: computeSize(300);
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                -webkit-transform: translate3d(-50%, -50%, 0);
                border-radius: 50%;
                box-shadow: 0 0 10px #f1f1f1;
            }
        }
        .rightContentOfProgram {
            width: 50%;
            padding: computeSize(60) computeSize(20);
            color: #fff;
            box-sizing: border-box;
            .program_title {
                line-height: computeSize(56);
                text-align: center;
                font-size: computeSize(48);
            }
            .program_decsription {
                font-size: computeSize(24);
                height: computeSize(200);
                overflow: scroll;
                text-indent: 2em;
                margin-top: computeSize(10);
            }
            .program_author {
                margin-top: computeSize(10);
            }
        }
    }
    .item_list {
        margin-top: computeSize(10);
        .item_list_panel {
            height: computeSize(160);
            background: $bgColorWhite;
            margin-bottom: computeSize(10);
            padding: computeSize(20);
            box-sizing: border-box;
            .item_list_panel_title {
                font-size: computeSize(36);
                line-height: computeSize(70);
                span {
                    display: block;
                    float: left;
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: computeSize(70);
                }
                span:last-child {
                    float: right;
                    width: 5%;
                }
            }
            .item_list_panel_detail {
                font-size: computeSize(24);
                span {
                    width: 30%;
                    display: inline-block;
                    line-height: computeSize(60);
                    text-align: center;
                }
                span:first-child {
                    width: 20%;
                    text-align: left;
                }
                span:last-child {
                    width: 50%;
                    text-align: right;
                }
            }
        }
        .item_list_panel.isTap {
            background: #ccc;
        }
    }
}


/*-----------------------------Categories-------------------------*/

.categories_wrap {
    position: relative;
    .cate_item {
        width: 23%;
        height: computeSize(80);
        text-align: center;
        line-height: computeSize(80);
        background: #fff;
        box-sizing: border-box;
        margin: 1%;
        font-size: computeSize(32);
    }
}


/*---------------------------channel_wrap----------------------*/

.channel_wrap {
    position: relative;
    .channel_wrap_item {
        padding: computeSize(20);
        background: #fff;
        margin: computeSize(10);
        border-radius: computeSize(10);
        .channel_wrap_item_img {
            width: computeSize(200);
            height: computeSize(200);
            img {
                width: 100%;
            }
        }
        .channel_wrap_content {
            width: 65%;
            font-size: computeSize(24);
            .title {
                line-height: computeSize(70);
                height: computeSize(70);
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                display: block;
                white-space: nowrap;
                font-size: computeSize(36);
            }
            .author,
            .last_update,
            .update_time {
                line-height: computeSize(40);
                height: computeSize(40);
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                display: block;
                white-space: nowrap;
            }
            .update_time {
                text-align: right;
            }
        }
    }
}


/*---------------------------Refresh-----------------------------*/

.refresh_wrap {
    position: relative;
    font-size: computeSize(48);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform .1s ease-in-out;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    div {
        padding: 10px;
        background: #fff;
        margin: 5px;
    }
}