html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
input,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    font-style: normal;
}

body {
    background: #eee;
}

$bgColorWhite:#fff;
$bgColorBlack:#000;
#app {
    overflow: hidden;
}

@font-face {
    font-family: 'icon_RB';
    /* project id 295136 */
    src: url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.eot');
    src: url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.woff') format('woff'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.ttf') format('truetype'), url('https://at.alicdn.com/t/font_x8yuaobdd5kx1or.svg#icon_RB') format('svg');
}

.iconfont {
    font-family: 'icon_RB' !important;
    font-size: 24px;
    color: #000;
}

.flex-left,
.flex-right,
.flex-center,
.flex-arround,
.flex-between {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-arround {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.clearfix {
    display: table;
    overflow: hidden;
    clear: both;
}


/*--------------------------------Swiper------------------------*/

.swiper {
    position: relative;
    height: 150px;
    .swiper_img {
        position: absolute;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}


/*-----------------------------Loading---------------------------*/

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $bgColorWhite;
    padding-top: 50%;
    opacity: 0.5;
    z-index: 999;
    left: 0;
    top: 0;
    text-align: center;
    div {
        font-size: 90px;
        background: none;
        animation: circle 1s linear infinite forwards;
    }
    @keyframes circle {
        from {
            transform: rotate(0)
        }
        to {
            transform: rotate(180deg)
        }
    }
    @-webkit-keyframes circle {
        from {
            transform: rotate(0)
        }
        to {
            transform: rotate(180deg)
        }
    }
}


/*---------------------------Common Style------------------------*/

.main_content_wrap.isPlay {
    margin-bottom: 85px;
}

.panel {
    margin: 5px;
    background: $bgColorWhite;
    border-radius: 5px;
    .panel_title {
        padding: 10px 15px;
        line-height: 24px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .panel_line {
        width: 100%;
        height: 1px;
        background: #eee;
    }
    .panel_content {
        padding: 10px;
        position: relative;
        .panel_content_item {
            display: inline-block;
            width: 32%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.tabSelect {
    position: relative;
    background: $bgColorWhite;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    div {
        width: 25%;
        padding: 10px 0;
        text-align: center;
        border-left: 1px solid #eee;
        font-size: 14px;
    }
    div:first-child {
        border-left: none;
    }
}


/*--------------------Play Area------------------*/

.play_panel {
    width: 100%;
    position: fixed;
    height: 80px;
    background: #e1e;
    left: 0;
    bottom: 0;
    transform: translate3d(0, 80px, 0);
    transition: transform 0.5s ease-out;
    -webkit-transform: translate3d(0, 80px, 0);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    audio {
        display: none;
    }
    .play_mid_panel {
        padding: 10px;
        overflow: hidden;
        .panel_left {
            width: 65%;
            .play_urlImg {
                width: 60px;
                height: 60px;
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .play_mid_title {
                overflow: hidden;
                text-align: center;
                padding: 0 20px;
                color: #fff;
                span {
                    display: block;
                    font-size: 14px;
                }
                span:first-child {
                    line-height: 35px;
                    font-size: 16px;
                }
            }
        }
        .play_mid_control {
            width: 35%;
            span {
                display: inline-block;
                width: 33.33%;
                line-height: 60px;
                text-align: center;
                font-size: 24px;
                color: #fff;
            }
            span:first-child,
            span:last-child {
                font-size: 18px;
            }
        }
    }
}

.play_panel.isPlay {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s ease-out;
}